
body{

  /* background: url(bg1.png); */
  background: url(bg100.jpg);
  color: antiquewhite;
  background-repeat: no-repeat;
  height: 400px;
  /* background-position: center; */
  /* background-size: cover; */
  background-size: 2500px 2500px;
  position: relative;
  font-family:Noto Mono;
  font-size: 12px;
  
}

.simple-form{
  text-align: center;
  margin: 100px 600px
}

.lentele {
  width: 20%;
  background-color:#051019;
  opacity: 0.8;
  padding: 50px 0px;
  margin: auto;
  margin-top: 80px;
  text-align: center;
  border-style: inset;
  border-width: 4px;
  border-color: #2a5e88;
  
}

.menu{
  text-shadow: 2px 1px #2a5e88;
  font-family:Noto Mono;
  font-size: 50px;
  overflow: hidden;
}

.menu a {
  background-color:#051019;
  opacity: 0.8; 
  float: left;
  color: antiquewhite;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 14px;
}

.menu a:hover {
  background-color: #ddd;
  color: #051019;
  opacity: 0.8;
}

.menu-right {
  float: center;
}

input[type], select {
  width: 50%;
  padding: 6px 10px;
  /* margin: 8px 0; */
  display: inline-block;
  border: 2px solid #2a5e88;
  border-radius: 4px;
  box-sizing: border-box;
}

button[type] {
  width: 50%;
  padding: 6px 10px;
  /* margin: 8px 0; */
  display: inline-block;
  border: 2px solid rgb(214, 155, 155);
  border-radius: 4px;
  box-sizing: border-box;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  text-align: left;
  padding: 8px;
}    
tr:nth-child(even) {background-color: #383838;
  opacity: 0.8;

}













